<div id="background">
  <header class="cf">
    <div class="wrapper-wide">
      <%= link_to image_tag("SmokeSignal-teepeetower(s).png", :id => "sslogo"), root_path %>
    </div>
  </header>
  <div class="wrapper-skinny">
    <div id="banner">
      <h1><%= link_to "Explore", podcasts_path %> Podcasts<br>from <span id="country">Indian&nbsp;Country</span><br> or <%= link_to "Create", new_podcast_registration_path %> Your Own</h1>
      <p><%= link_to "Sign In", new_podcast_session_path, class: "btn btn-carrot" %></p>
    </div>
  </div>
</div>
<footer class="main-footer">
  <small>
    Smoke Signals &copy; 2015
  </small>
</footer>
