<div class="background">
  <header class="cf">
    <div class="wrapper-wide"><a id="logo" href="index.html">SmokeSignals.fm</a>
      <nav>
        <ul>
          <li><a href="podcasts.html">Search</a></li>
          <li><a href="sign-in.html">Sign In</a></li>
          <li><a href="sign-up.html">Speak</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper-skinny">
    <h1>Search for Podcasts from Indian Country or Create Your Own</h1><a href="sign-in.html" class="btn btn-hl">Speak Up</a><a href="podcasts.html" class="btn btn-df">Search</a>
  </div>
</div>
