/*
 *= require font-awesome
 */

 // Regular Version

@font-face {
  font-family: 'sinkin sans';
  src: asset-url('SinkinSans-400Regular-webfont.eot') format('embedded-opentype');
  src: asset-url('SinkinSans-400Regular-webfont.ttf') format('truetype'),
  asset-url('SinkinSans-400Regular-webfont.woff') format('woff'),
  asset-url('SinkinSans-400Regular-webfont.svg#sinkinsans') format('svg');
  font-weight: normal;
  font-style: normal;
}



$highlight: #cca580;
$white: #ffffff;
$dark: #443847;
$light: #edeff5;

$flat-red: #F24536;
$flat-carrot: #FCA520;
$flat-turq: #2AC2C7;
$flat-blue: #2C3E50;

$black: #505050;

body {
  font-family: 'sinkin sans', sans-serif;
}

.wrapper-wide {
  width: 90%;
  margin: 0 auto;
}

#banner  {
  padding-bottom: 5rem
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper-skinny {
  width: 50%;
  margin: 0 auto;
}

.responsive-break {
  white-space: nowrap;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.notice-wrapper {
  width: 100%;
  position: absolute;
  background: rgba(193, 146, 102, .85);
  z-index: 999;

  p {
    color: $white;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1.5rem 0;
  }
}

.btn {
  color: $highlight;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: 2px solid $highlight;
}

.btn-hl {
  background: $white;
  transition: background 0.4s ease-in-out;
  display: inline-block;
  min-width: 8.5rem;
  &:hover {
    background: $highlight;
    color: $white;
  }
}

.btn-carrot {
  color: $flat-carrot;
  border: 2px solid $flat-carrot;
  background: $white;
  transition: background 0.4s ease-in-out;
  display: inline-block;
  min-width: 8.5rem;
  &:hover {
    background: $flat-carrot;
    color: $white;
  }
}

.btn-turq {
  color: $flat-turq;
  border: 2px solid $flat-turq;
  background: $white;
  transition: background 0.4s ease-in-out;
  display: inline-block;
  min-width: 10rem;
  &:hover {
    background: $flat-turq;
    color: $white;
  }
}

.btn-df {
  background: $white;
  color: $highlight;
  transition: background 0.4s ease-in-out;
  display: inline-block;
  min-width: 8.5rem;
  &:hover {
    background: darken($white, 7.5%);
  }
}

.btn-block {
  display: block;
  margin: 0 auto;
}

#main-header {
  color: $dark;
  background: $white;
  padding: 2.5rem 0;
  box-sizing: border-box;
  text-align: center;

  #logo {
    text-decoration: none;
    display: inline-block;
    color: $black;
    float: left;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 3px;

    @media screen and (max-width: 1024px) {
      float: none;
      display: block;
    }

    @media screen and (max-width: 470px) {
      font-size: 1.5rem;
    }
  }
  nav {
    display: inline-block;
    float: right;
    margin-top: 1rem;

    @media screen and (max-width: 1024px) {
      float: none;
      display: block;
    }

    ul {
      margin: 0;
      overflow: hidden;

      @media screen and (max-width: 1024px) {
        -webkit-padding-start: 0px;
      }

      li {
        display: inline-block;
        list-style: none;
        color: $black;
        margin-left: 2.5rem;
        text-transform: uppercase;
        font-size: 1rem;

        @media screen and (max-width: 1024px) {
          margin: 0 1.5rem;
        }

        @media screen and (max-width: 520px) {
          display: block;
          margin: 1.5rem 0;
        }

        a {
          text-decoration: none;
          color: $dark;

          &:hover {
            cursor: pointer;
            border-bottom: 1px solid $flat-red;

          }
        }


      }
    }
  }
}

.banner {
  background: {
    repeat: no-repeat;
    size: cover;
    position: center center;
    width: 100%
  };
  margin-bottom: 4rem;
  h1 {
    font: {
      size: 3rem;
      weight: 300;
    };
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin: 0;
    padding: 8rem 0;
  }
}

.pagination:before, .pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 1rem 0 5rem 0;
  a, .previous_page, .current, .next_page {
    padding: 0.75rem 1rem;
    margin: 0 0.25rem;
    border-radius: 0.15rem;
    line-height: 1.25;
    text-decoration: none;
    background-color: #eee;
    font-weight: 700;
    font-size: 0.7rem;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: #c0c0c0;
    &:hover {
      color: #c0c0c0;
      background-color: #eee;
    }
  }
}

.field {
  margin: 0.5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 2.5rem;
  padding: 0.25rem 1rem;
  background: $light;
  border: 1px solid darken($light, 5%);
  border-radius: 0.35rem;
  margin-top: 0.5rem;
}

textarea {
  min-height: 8rem;
  margin-top: 0.5rem !important;
}

.form {
  padding: 0 0 5rem 0;
}

@import "normalize";
@import "welcome";
@import "podcasts";
@import "podcast-show";
@import "episodes";
@import "dashboard";
@import "sign-in-sign-up";
