#background {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: image-url("dreamcatcher.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  header {
    padding: 2.5rem 0;
    #logo {
      text-decoration: none;
      display: inline;
      color: $dark;
      float: left;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 3px;
    }
    nav {
      display: inline-block;
      float: right;
      margin-top: 1rem;
      ul {
        margin: 0;
        li {
          display: inline;
          list-style: none;
          color: black;
          margin-left: 2.5rem;
          text-transform: uppercase;
          font-size: 1rem;
          a {
            text-decoration: none;
            color: $dark;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .wrapper-skinny {
    clear: both;
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    background-image: none;
    h1 {
      color: #443847;
      font: {
        weight: 500;
        size: 3.5rem;
      };
      letter-spacing: 1px;
      margin: 7rem 0 2rem 0;
    }
    .btn {
      margin: 1.5rem 2.5% 0 2.5%;
      font-size: 1.3rem;
    }
  }
}

.main {
  margin: 0px;
  display: block;
  clear: both;
}
